<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'common.cancel' | transloco }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'products.detailTitle' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
    <app-avatar (click)="getImage()" [size]="'large'" [img]="product?.image || ''" [type]="'product'"></app-avatar>
  </div>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <div class="flex mt-4 w-full">
        <div class="w-full">
          <app-input
            [inputValue]="name || ''"
            (inputValueChange)="changeName($event)"
            [id]="'name'"
            [type]="'text'"
            [label]="'products.nameLabel' | transloco"
            [required]="true"
            [maxLength]="100"
            [disabled]="!!product?.id || !!product?.name"></app-input>
        </div>
      </div>

      <div class="flex mt-4 w-full">
        <div class="w-full">
          <app-input
            [id]="'code'"
            [type]="'text'"
            [label]="'products.codeLabel' | transloco"
            [required]="true"
            [maxLength]="100"
            [inputValue]="code || ''"
            (inputValueChange)="changeCode($event)"></app-input>
        </div>
      </div>

      <div class="flex mt-4 w-full">
        <div class="w-full">
          <app-input
            [id]="'stock'"
            [type]="'number'"
            [label]="'products.stockLabel' | transloco"
            [required]="false"
            [maxLength]="100"
            [inputValue]="stock || ''"
            (inputValueChange)="changeStock($event)"></app-input>
        </div>
      </div>

      <div class="flex mt-4 w-full">
        <div class="w-full">
          <app-select
            [dataSource]="this.categories"
            [disabled]="!this.categories || !this.categories.length"
            [size]="'regular'"
            [id]="'select'"
            [label]="'products.categoryLabel' | transloco"
            [placeholder]="'products.categoryPlaceholder' | transloco"
            (inputValueChange)="changeSelect($event)"></app-select>
        </div>
      </div>

      <div class="flex mt-4 w-full">
        <div class="w-1/2 mr-4">
          <app-input
            [id]="'price'"
            [type]="'number'"
            [label]="'products.buyPriceLabel' | transloco"
            [required]="false"
            [maxLength]="100"
            [inputValue]="price || ''"
            (inputValueChange)="changePrice($event)"></app-input>
        </div>

        <div class="w-1/2">
          <app-input
            [id]="'price_sell'"
            [type]="'number'"
            [label]="'products.sellPriceLabel' | transloco"
            [required]="true"
            [maxLength]="100"
            [inputValue]="price_sell || ''"
            (inputValueChange)="changePriceSell($event)"></app-input>
        </div>
      </div>

      <div class="flex mt-4 w-full">
        <div class="w-full">
          <app-input
            [id]="'description'"
            [type]="'text'"
            [label]="'common.description' | transloco"
            [required]="false"
            [maxLength]="200"
            [inputValue]="description || ''"
            (inputValueChange)="changeDescription($event)"></app-input>
        </div>
      </div>

      <div class="mt-4 text-center text-sm text-gray-500">
        <app-button
          (click)="confirm()"
          [outline]="false"
          [label]="'common.save' | transloco"
          [disabled]="!isValidForm"
          size="large"></app-button>
      </div>
    </div>
  </div>
</ion-content>
