<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Workout Statistics </ion-title>
    <ion-buttons slot="end">
      <ion-button class="pr-4" color="primary">Filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="sm:mx-[25%] sm:w-auto"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
      <div
        *ngIf="!historyWorkout?.length"
        class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8"
      >
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <h2
            class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Lorem ipsum dolor sit amet consectetur
          </h2>
        </div>
      </div>
      <ion-list *ngIf="historyWorkout?.length" class="mt-6">
        <ion-item *ngFor="let workout of historyWorkout" detail="true" class="w-full">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>
            <h3>Text Item</h3>
            <p>Detail set to true - detail arrow displays on both modes</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- <table>
  <tr>
    <th *ngFor="let label of lineChartData.labels">{{label}}</th>
  </tr>
  <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
    <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
  </tr>
</table>
<div class="button-row">
  <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
  <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
  <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
  <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
</div> -->
</ion-content>
