<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <app-avatar
        [size]="'large'"
        [img]="(authService.user?.image  || '')"
      ></app-avatar>
      <h2
        *ngIf="!editMode"
        class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white"
      >
        {{authService.user?.name}} {{authService.user?.lastName}}
      </h2>
      <h3
        class="text-center text-xl font-normal leading-9 tracking-tight text-gray-900 dark:text-white"
      >
      </h3>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <div class="flex mt-4 w-full">
        <div class="w-1/2 mr-4">
          <app-input
            [inputValue]="authService.user?.name ?? ''"
            [disabled]="!editMode"
            [id]="'name'"
            [type]="'text'"
            [label]="'Name'"
            [required]="true"
            [maxLength]="100"
          ></app-input>
        </div>

        <div class="w-1/2">
          <app-input
          [inputValue]="authService.user?.lastName ?? ''"
          [disabled]="!editMode"
          [id]="'name'"
          [type]="'text'"
          [label]="'Last Name'"
          [required]="true"
          [maxLength]="100"
          ></app-input>
        </div>
      </div>


      <div class="flex mt-4 w-full">
        <div class="w-1/2 mr-4">
          <app-input
            [inputValue]="authService.user?.email || ''"
            [disabled]="true"
            [id]="'email'"
            [type]="'email'"
            [label]="'Email address'"
            [required]="true"
            [maxLength]="100"
          ></app-input>
        </div>

        <div class="w-1/2">
          <app-input
            [inputValue]="authService.user?.phone || ''"
            [disabled]="!editMode"
            [id]="'phone'"
            [type]="'text'"
            [label]="'Phone number'"
            [required]="true"
            [maxLength]="100"
          ></app-input>
        </div>
      </div>

      <div class="mt-4 text-center text-sm text-gray-500">
        <app-button
          [outline]="true"
          [label]="'Reset password'"
          size="large"
          (click)="sendResetPassword()"
        ></app-button>
      </div>

      <div class="mt-4 text-center text-sm text-gray-500">
        <app-button
          [outline]="false"
          [label]="'Logout'"
          size="large"
          (click)="authService.logout()"
        ></app-button>
      </div>
    </div>
  </div>
</ion-content>
