<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Workout History </ion-title>
    <ion-buttons slot="end">
      <ion-button class="pr-4" color="primary">Filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <div
        *ngIf="!historyWorkout?.length"
        class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8"
      >
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <h2
            class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Lorem ipsum dolor sit amet consectetur
          </h2>
        </div>
      </div>
      <ion-list *ngIf="historyWorkout?.length">
        <ion-item *ngFor="let workout of historyWorkout" detail="true" class="w-full">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <ion-label>
            <h3>Text Item</h3>
            <p>Detail set to true - detail arrow displays on both modes</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="startWorkout()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-fab-button>
    <!-- <ion-icon name="play-outline"></ion-icon> -->
  </ion-fab>
</ion-content>
