<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Product List </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary"><ion-icon slot="start" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (search)="searchFunction($event || '')"
      [ngModel]="searchValue"
      show-cancel-button="focus"
      show-clear-button="never"
      cancel-button-icon="trash"
      (ionCancel)="hideSearch()"
      class="sm:mx-[25%] sm:w-auto"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="tempProduc$ else listProduct">
    <ng-container *ngIf="tempProduc$ | async as observableResult">
      <div class="flex min-h-full flex-col justify-start px-4 py-4 lg:px-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <div
            *ngIf="!observableResult || !observableResult.length"
            class="flex min-h-full flex-col justify-start"
          >
            <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
              <h2
                class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
              >
                The product list is empty
              </h2>
            </div>
          </div>
          <ion-list *ngIf="observableResult">
            <ion-item-sliding *ngFor="let workout of observableResult">
              <app-product-item
                [detailed]="true"
                [name]="workout?.name"
                [stock]="workout?.stock"
                [category]="workout?.category"
                [description]="workout?.code"
                [price]="workout?.priceSell"
              >
              </app-product-item>

              <ion-item-options>
                <ion-item-option
                  (click)="addToCard(workout, 1)"
                  color="tertiary"
                >
                  <ion-icon slot="start" name="cart-outline"></ion-icon>
                  Add to Cart</ion-item-option
                >
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
      <ion-fab
        *ngIf="observableResult.length"
        slot="fixed"
        vertical="bottom"
        horizontal="end"
      >
        <ion-fab-button (click)="scanCode()">
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ng-container>

  <ng-template #listProduct>
    <ng-container *ngIf="$observable | async as observableResult">
      <div class="flex min-h-full flex-col justify-start px-4 py-4 lg:px-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <div
            *ngIf="!observableResult || !observableResult.Exercise"
            class="flex min-h-full flex-col justify-start"
          >
            <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
              <h2
                class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white"
              >
                The product list is empty
              </h2>
            </div>
          </div>
          <ion-list *ngIf="observableResult  && observableResult.Exercise">
            <ion-item-sliding
              *ngFor="let workout of observableResult.Exercise?.products"
            >
              <app-product-item
                [detailed]="true"
                [name]="workout?.name"
                [stock]="workout?.stock"
                [category]="workout?.category"
                [price]="workout?.priceSell"
                [description]="workout?.code"
              >
              </app-product-item>
              <ion-item-options>
                <ion-item-option
                  (click)="addToCard(workout, 1)"
                  color="tertiary"
                  class="text-white"
                >
                  <ion-icon slot="start" name="cart-outline"></ion-icon></ion-item-option>


                  <ion-item-option
                  class="text-white"
                  color="warning"
                >
                  <ion-icon slot="start" name="pencil-outline"></ion-icon></ion-item-option>

                  <ion-item-option
                  (click)="addPrice(workout)"
                  class="text-white"
                  color="danger"
                >
                  <ion-icon slot="start" name="pricetag-outline"></ion-icon></ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
      <ion-fab
        *ngIf="observableResult.Exercise"
        slot="fixed"
        vertical="bottom"
        horizontal="end"
      >
        <ion-fab-button (click)="scanCode()">
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ng-template>
</ion-content>
